*/bin
*/obj
.vscode
*.log
*.zip
*.csv
*.arff
.vs
*.err
*.out

2024*
combined-2024*
combined-scored_2024*

cartesian-*

wine_dataset

python/venv

# release directories
Windows_x64
OSX_arm
OSX_x64
Linux_x64
